html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    background: black;
    overflow-x: hidden;
}


/* ---------------HEADER-----------------*/

@media (max-width: 767px) {
    .logo {
        display: none;
    }
    .inner-addon i.glyphicon {
        padding-top: 10px;
    }
}

#search-bar {
    margin-bottom: 0;
    border: none;
    border-radius: 0px;
}

#search-bar.navbar-inverse {
    background: rgba(255, 255, 255, 0.07);
}

.logo {
    position: absolute;
    right: 5px;
    width: 213px;
    height: 35px;
    margin-top: 11px;
}

#search-bar > div > div > ul > li > a:hover {
    color: #FFBA00;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
}

.search-div li a {
    padding-top: 18px;
}

.rounded {
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

input[type=text] {
    color: #bcbcbc;
}

.dark input[type=text] {
    border: 1px solid #2a2e31;
    background-color: #2d3035;
    color: #E6E6E6;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    padding-top: 12px;
    padding-left: 12px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/*--------------FOOTER---------------*/

footer {
    background: rgba(255, 255, 255, 0.07);
    text-align: center;
    color: #CCC;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

footer .footer-name {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

footer .footer-name span {
    color: #FFBA00;
}

footer .author {
    color: #FFBA00;
    text-decoration: none;
}

footer a.author:hover {
    color: white;
    border-bottom: 1px solid white;
}


/* --------- HOME ---------- */

@media (min-width: 1920px) {
    .container {
        width: 1710px;
    }
}

@media (min-width: 1600px) and (max-width: 1919px) {
    .container {
        width: 1430px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .container {
        width: 1190px;
    }
}

@media (min-width: 910px) and (max-width: 1199px) {
    .container {
        width: 870px;
    }
}

@media (min-width: 607px) and (max-width: 909px) {
    .container {
        width: 590px;
    }
}

@media (max-width: 606px) {
    .grid-home ul {
        justify-content: center;
    }
    .grid-home h1 {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.grid-home .posters {
    list-style-type: none;
    width: 250px;
    display: inline-block;
    margin: 15px;
    justify-content: center;
}

.grid-home ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 0;
    padding-left: 0;
}

.grid-home img {
    border: 5px solid white;
    transition: all .05s linear;
}

.grid-home .container .title {
    margin: 10px 0 0 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.grid-home .container .release-date {
    margin: 5px 0 0 0;
    color: white;
}

.grid-home i {
    color: #FFBA00;
}

.grid-home img {
    width: 100%;
}

.grid-home .container img:hover {
    transform: scale(1.025);
    border-color: #FFBA00;
}

.grid-home h1 {
    margin: 0 0 10px 0;
    color: #FFBA00;
    padding-top: 30px;
}

.grid-home h3 {
    color: #FFBA00;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 40px;
    margin-top: 0px;
    padding: 40px 40px 0 40px;
    text-align: center;
}

.glyphicon-star {
    font-size: 27px;
    margin-right: 10px;
}


/* -------- DETAILS -------- */

@media (min-width: 1920px) {
    .details-page.details-content {
        padding: 120px 0;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .details-page.details-content {
        padding: 90px 0;
    }
}

@media (max-width: 991px) {
    .details-page .img-container {
        padding: 40px;
    }
    .details-page .left-content-container {
        padding-right: 50px;
    }
    .details-page.details-content {
        padding: 30px 0;
    }
}

.details-page h2 {
    margin: 0 0 10px 50px;
    color: #FFBA00;
}

.details-page h3 {
    margin: 0 0 10px 50px;
    color: #EFEFEF;
    font-weight: normal;
    font-size: 20px;
}

.details-page {
    padding: 50px 0;
}

.details-page .blank-space {
    height: 120px;
    background: white;
}

.details-page .glyphicon-film {
    font-size: 25px;
    margin-right: 15px;
}

.details-page .left-content {
    padding-left: 60px;
}

.details-page .right-content {
    padding-left: 60px;
}

.details-page .img-container {
    padding-right: 40px;
}

.details-page .description {
    padding-left: 45px;
}

.details-page h4 {
    font-size: 18px;
    color: #FFBA00;
    margin-top: 20px;
}

.details-page .small-icon {
    margin-right: 10px;
    font-size: 15px;
}

.details-page li {
    color: #DDD;
}

.details-page p {
    color: #DDD;
    font-size: 15px;
}


/* -------- RESULTS -------- */

.glyphicon-menu-hamburger {
    font-size: 27px;
    padding-right: 10px;
}
